SWIFT_AUTH_URL=https://chi.uc.chameleoncloud.org:5000/v3
SWIFT_USERNAME=<your-username>
SWIFT_PASSWORD=<your-password-or-app-credential-secret>
SWIFT_USER_UPLOADS_CONTAINER=proj26-user-uploads
SWIFT_TRAINING_CONTAINER=proj26-obj-store
ENABLE_SODA_CHECKS=false
SODA_CONFIGURATION_FILE=quality/soda/configuration.yml
SODA_CHECKS_FILE=quality/soda/checks.yml
